[Desktop Entry]
Name=Empaty Dark
X-KDE-PluginInfo-Author=badcast
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=lmecomposer@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=empaty-dark
X-KDE-PluginInfo-Version=20231003
